./.idea
./.vscode
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/myDiary.iml
.idea/sasslintPlugin.xml
.idea/vcs.xml
.idea/workspace.xml
.vscode/

